allow hal_wifi_supplicant_default cutback_data_file:dir rw_dir_perms;
allow hal_wifi_supplicant_default cutback_data_file:sock_file rw_file_perms;
allow hal_wifi_supplicant_default rild:unix_dgram_socket sendto;
